{
    {% for key, value in composer_json.iteritems() recursive -%}
    {% set outer_loop = loop %}
    "{{ key }}" :
     {%- if value is mapping -%}
       { {{ outer_loop(value.iteritems()) }} }
     {%- elif value is string -%}
       "{{ value }}"
     {%- elif value is sequence -%}
       [
       {% for inner_value in value %}
       {% if inner_value is string %}
         "{{ inner_value }}"
       {% elif inner_value is iterable %}
         {{ outer_loop(inner_value) }}
       {% endif %}
       {% if not loop.last -%},{% endif %}
       {% endfor %}
       ]
     {% endif %}
    {% if not loop.last -%},{% endif %}
    {% endfor -%}
}